<p id="notice"><%= notice %></p>

<p>
  <strong>Parameter 1:</strong>
  <%= @action_two_parameter.parameter_1 %>
</p>

<p>
  <strong>Parameter 2:</strong>
  <%= @action_two_parameter.parameter_2 %>
</p>

<%= link_to 'Edit', edit_action_two_parameter_path(@action_two_parameter) %> |
<%= link_to 'Back', action_two_parameters_path %>
