<p id="notice"><%= notice %></p>

		<div id="main">
			<div class="contain">
<!--				<header>
					<div class="wrapper">
						<div class="date">今</div>
					</div>
					<div class="project">阅读FM</div>
				</header>-->
				
			<dl class="items">
			  <% project = 0 %>
				<% @events.each do |event| %>

				  <% if event.project_id != project %>
				  	<% project = event.project_id %>
				    <!--full - line-->
					  <dt class="title">
						  <div class="wrapper full">
						  </div>
						  <div class="project"><%= (Project.find(event.project_id)).name %></div>
					  </dt>
          <% end %>
				  
					<dd>
						<div class="headpic">
						  <%= link_to image_tag("winter.jpg", alt: "head-logo" ) %>
						</div>
						<div class="text">
							<p>
								<span class="name"><%= (User.find(event.user_id)).name %></span>
								<span class="action">
								  <%= 
                    case (event.action_type)
                      when 1
                        "创建了任务："
                      when 2
                        "删除了任务："
                      when 3
                        "完成了任务："
                      when 4
                        param = (ActionOneParameter.find(event.action_id)).parameter
                        "给 #{param} 指派了任务："
                      when 5 
                        param_1 = (ActionTwoParameter.find(event.action_id)).parameter_1
                        param_2 = (ActionTwoParameter.find(event.action_id)).parameter_2
                        "把 #{param_1} 的任务指派给 #{param_2} ："
                      when 6
                        param_1 = (ActionTwoParameter.find(event.action_id)).parameter_1
                        param_2 = (ActionTwoParameter.find(event.action_id)).parameter_2
                        "将任务完成时间从 #{param_1} 改成了 #{param_2} ："
                      when 7 
                        "回复了任务："
                    end
                  %></span>
                  
								<span class="target"> <%= link_to (Todo.find(event.target_id)).content, "../todos/#{event.target_id}" %></span>
							</p>
							<% if event.action_type == 0 %>
							
							  <p class="dis"><% (ActionWithComment.find(event.action_id)).content %></p>
							<% end %>
						</div>
						<div class="time"><% event.created_at %></div>
					</dd>
					<% end %>
					
					
				<!--	<dt class="title">
						<div class="wrapper">
							<div class="date">今</div>
						</div>
						<div class="project">阅读FM</div>
					</dt>
					<dd>
						<div class="headpic">
							<img src="/assets/images/winter.jpg"/>
						</div>
						<div class="text">
							<p>
								<span class="name">789465132</span>
								<span class="action">创建了任务：</span>
								<span class="target"> ksksk</span>
							</p>
							<p class="dis">什么鬼？</p>
						</div>
						<div class="time">10:20</div>
					</dd>
					<dd>
						<div class="headpic">
							<img src="/assets/images/winter.jpg"/>
						</div>
						<div class="text">
							<p>
								<span class="name">789465132</span>
								<span class="action">创建了任务：</span>
								<span class="target"> ksksk</span>
							</p>
							<p class="dis">什么鬼？</p>
						</div>
						<div class="time">10:20</div>
					</dd>-->
				</dl>
				<a class="btn" href="javascript:void(0);">加载更多</a>
			</div>
		</div>
		<footer></footer>
