<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @event.project_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<p>
  <strong>Action:</strong>
  <%= @event.action_id %>
</p>

<p>
  <strong>Target:</strong>
  <%= @event.target_id %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
