<p id="notice"><%= notice %></p>

<h1>Listing Todos</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>To user</th>
      <th>From user</th>
      <th>To time</th>
      <th>Project</th>
      <th>Team</th>
      <th>Is deleted</th>
      <th>Is completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.content %></td>
        <td><%= todo.to_user_id %></td>
        <td><%= todo.from_user_id %></td>
        <td><%= todo.to_time %></td>
        <td><%= todo.project_id %></td>
        <td><%= todo.team_id %></td>
        <td><%= todo.is_deleted %></td>
        <td><%= todo.is_completed %></td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_todo_path %>
